#login-div {
    width: 50%;
    text-align: center;
    margin: auto;
    border: dashed black;
}

input, label {
    text-align: center !important;
    font-size: 20px !important;
}
nav {
    background: brown;
}

body {
    background-image:url("../images/cardtable-background.jpg");
    background-attachment: fixed;
    background-position: center; 
}
