.container {
    width: 50%;
    text-align: center;
    margin: auto;
    border: dashed black;
}

nav {
    background: brown;
}

.card {
    margin: auto;
    display: inline-block;
    border: black solid;
    padding: 2%;
}

body {
    background-image:url("../../images/cardtable-background.jpg");
    /* background-repeat: no-repeat; */
    /* background-size: auto;  */
    background-attachment: fixed;
    background-position: center;
}